.blogs-container{
    display: grid;
    grid-template-columns: minmax(300px, 400px) 1fr;
    margin-top: 1rem;
}

@media (max-width: 1000px){
    .blogs-container{
        grid-template-columns: 1fr;
       
    }
}