.user-profile-card{
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--user-profile-card-font);
    gap: 0.5rem;
    background-color: var(--transparent-navy-blue);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 5px;
}
.user-profile-card .avatar{
    width: 250px;
   
}
.user-profile-card span{
    font-weight: bold;
}
